@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@layer base {
  h1 {
    @apply text-5xl lg:text-6xl font-bold py-4 tracking-widest;
  }
  h2 {
    @apply text-3xl lg:text-4xl xl:text-8xl font-semibold py-4;
  }
  h3 {
    @apply text-base font-semibold py-3;
  }
  h4 {
    @apply text-lg lg:text-xl font-medium py-2;
  }
  p {
    @apply lg:text-lg py-2;
  }
  section {
    @apply py-8 px-10 lg:py-10 lg:px-12 xl:py-14 xl:px-16;
  }
  .glow-on-hover:hover {
    box-shadow: 0 0 15px 3px rgba(255, 255, 255, 0.6); 
  }
} */

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}
